<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> 
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	    <div class="container"> 
		  
		  <div id="accordion"> 
		    <div class="card"> 
		      <div class="card-header"> 
		        <a class="card-link" data-toggle="collapse" data-parent="#accordion"  href="#collapse1"> 
		          공지사항 제목입니다. 
		        </a> 
		      </div> 
		      <div id="collapse1" class="collapse"> 
		        <div class="card-body"> 
		          내용내용 공지사항 내용내용 내용내용 공지사항 내용내용  내용내용 공지사항 내용내용  내용내용 공지사항 내용내용  내용내용 공지사항 내용내용  
		        </div> 
		      </div> 
		    </div> 
		    <div class="card"> 
		      <div class="card-header"> 
		        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion"  href="#collapse2"> 
		        공지사항 제목입니다. 
		      </a> 
		      </div> 
		      <div  id="collapse2"  class="collapse"> 
		        <div class="card-body"> 
		           내용내용 공지사항 내용내용  내용내용 공지사항 내용내용  내용내용 공지사항 내용내용  내용내용 공지사항 내용내용 
		        </div> 
		      </div> 
		    </div> 
		    <div class="card"> 
		      <div class="card-header"> 
		        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapse3"> 
		          공지사항 제목입니다. 
		        </a> 
		      </div> 
		      <div  id="collapse3"   class="collapse"> 
		        <div class="card-body"> 
		           내용내용 공지사항 내용내용  내용내용 공지사항 내용내용  내용내용 공지사항 내용내용  내용내용 공지사항 내용내용 
		        </div> 
		      </div> 
		    </div> 
		  </div> 
		</div>

</body> 
</html>

</body>
</html>