.body {
	font-family: 'Noto Sans KR', sans-serif;
}

.navbar-box {
	display: flex; /* navbar-box가 flex-container가 되고 하위 요소들이 flex-item이 됨 */
	flex-direction: row; /* 기본값이 row */
	height: 70px;
	width: 100vw;
	background-color: antiquewhite;
}

.navbar-left {
	flex-basis: 25%;
	display: flex;
	align-items: center;
	padding-left: 7.5px;
	background-color: aquamarine;
}

.navbar-center {
	flex-basis: 50%; /*고정값 너비*/
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: blueviolet;
}

.navbar-right {
	flex-basis: 25%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 7.5px;
	background-color: cornflowerblue;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo-img {
	height: 55px;
	width: 55px;
	background-color: cornflowerblue;
}

img {
	height: 100%;
	width: 100%;
}

.logo-text {
	font-family: 'Handlee', cursive;
	font-size: 40px;
	font-weight: bold;
	padding-left: 10px;
}

.body-background {
	background-color: darkgoldenrod;
	width: 100vw;
	min-height: 1010px;
	display: flex;
	justify-content: center;
}

.body {
	width: 1200px;
	background-color: darkgreen;
}

.search-result {
	width: 100%;
	height: 100%;
	background-color: darkseagreen;
}
.post-result
{
	margin-left: 130px;
	margin-right: 130px;
	display: flex;
}
.post-title
{
	margin-top: 20px;
	margin-bottom: 5px;
}
.posting-date
{
	display: inline-block;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 5px;
}
.hr-size
{
	margin-left: 100px;
	margin-right: 100px;
}
.hr
{
	width: 1100px;
	margin: 0px auto;
}
.img
{
	width: 70px;
	height: 70px;
}
.post-inline-block
{
	display: inline-block;
}

.post-result
{
	margin-left: 130px;
	margin-right: 130px;
	display: flex;
}

.center
{
	background-color: rgb(255,255,255);
	width: 1300px;
	margin: 0px auto;
	height: 917px;
	margin-top: -9px;
}
.table
{
	width: 1300px;
}
.title
{
	padding-top: 10px;
	text-align: center;
}
.flex-center
{
	display: flex;
    align-items: center;
    justify-content: center;
}
.titleHr
{
	width: 1100px;
	margin: 0px auto;
}
.iTitle
{
	width: 800px;
	height: 30px;
	margin-left: 100px;
	border-radius: 5px;
}
.textbox
{
	width: 550px;
	height: 30px;
	margin-left: 10px;
	border-radius: 5px;
}
.nTitle
{
	font-weight: bold;
	font-size: 20px;
}
.nMeeting
{
	font-weight: bold;
	font-size: 20px;
}
.nInterest
{
	font-weight: bold;
	font-size: 20px;
}
.img
{
	width: 15px;
	height: 15px;
}
.btn1
{
	width: 114px;
	height: 31px;
	/* appearance: none; */
	border: 1px solid rgb(210,210,210);
	font-size: 20px;
	/* font-family inherit; */
	border-radius: 5px;
	background: white;
	margin-right: 10px;
	margin-left: 30px;
}
.btn2
{
	width: 114px;
	height: 31px;
	/* appearance: none; */
	border: 1px solid rgb(210,210,210);
	font-size: 20px;
	/* font-family inherit; */
	border-radius: 5px;
	background: white;
}
.InterestBtn
{
	margin-left: 60px;
}
.price-slider
{
	position: relative;
	width: 500px;
	margin: 0 auto 20px;
	height: 35px;
	text-align: left;
	display: inline-block;
	margin: 0px;
}
.price-slider input 
{ 
	pointer-events: none;
	position: absolute; left: 0;
	top: 15px;
	width: 50%;
	outline: none;
	height: 18px;
	margin: 0;
	padding: 0;
	border-radius: 8px;
}
.price-slider input::-webkit-slider-thumb 
{ 
	pointer-events: all;
	position: relative;
	z-index: 1;
	outline: 0;
	-webkit-appearance: none;
	height: 24px; width: 24px;
	border-radius: 12px;
	background-color: white;
	border: 2px solid black; 
}
.starGrade
{
	display: inline-block;
}
.grade
{
	margin-top: 1px;
	display: inline;
	background: url("img5.png") repeat-x;
	float: left;
	overflow: hidden;
	width: 65px;
	height: 13px;
}
.grade div
{
	background: url("img5.png") repeat-x;
	float: left;
	height: 13px;
	width: 20%;
}


.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.modalLayer {
	display: none;
	position: relative;
}

.modalLayer .modalContent {
	width: 440px;
	height: 200px;
	padding: 20px;
	border: 1px solid #ccc;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 11;
	background: #fff;
}

.modalLayer .modalContent exit {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.margin-top-plus
{
	margin-top: 50px;
}
.margin-bottom-plus
{
	margin-bottom: 50px;
}
.margin-right-plus-200px
{
	margin-right: 200px;
}
.margin-left-plus
{
	margin-left: 60px;
}
.price-width-15px
{
	width: 15px;
}
.price-width-50px
{
	width: 50px;
}
.post-width-300px
{
	width: 300px;
}
